<div class="post-card container post post-delete">
    <div class="post-header">
        <div class="row justify-content-between">
            <div class="col-4 text-center">
                <a class="postClick" href="/post/{{id}}">{{title}}</a>
            </div>
            <div class="col-8">
                -- {{user.username}} -- {{timestamp}}
                <button class="btn btn-primary" type="delete">Delete</button>
            </div>
        </div>
    </div>
</div>
