<div class="post-card container">
    <div class="post-header">
    <div class="row justify-content-between">
    <div class="col-4 text-center">
        {{title}}
    </div>
    <div class="col-4">
        -- {{user.username}}
    </div>
    </div>
    </div>
    {{!-- <div class="post-body">
        {{post}}
    </div> --}}
</div>