<div class="column justify-space-around">
    {{#each user.posts as |post|}}
    {{>post-details}}
    {{/each}}
    {{#if loggedIn}}
    {{else}}
    <a href="/">You must log in to post</a>
    {{/if}}
</div>